aside.sidebar.sidebar-dark.sidebar-fixed
  .sidebar-header
    h4.text-white.text-center Admin Panel
  ul.nav
    li.nav-item
      a.nav-link(href=`${prefixAdmin}/dashboard`)
        i.nav-icon.fas.fa-tachometer-alt
        |  Dashboard

    if(role.permissions.includes("products-category_view"))
      li.nav-item
        a.nav-link(href=`${prefixAdmin}/product-category`)
          i.nav-icon.fas.fa-list-alt
          |  Danh mục sản phẩm

    if(role.permissions.includes("products_view"))
      li.nav-item
        a.nav-link(href=`${prefixAdmin}/products`)
          i.nav-icon.fas.fa-box-open
          |  Danh sách sản phẩm

    if(role.permissions.includes("roles_view"))
      li.nav-item
        a.nav-link(href=`${prefixAdmin}/roles`)
          i.nav-icon.fas.fa-user-shield
          |  Nhóm quyền

    if(role.permissions.includes("roles_permissions"))
      li.nav-item
        a.nav-link(href=`${prefixAdmin}/roles/permissions`)
          i.nav-icon.fas.fa-lock
          |  Phân quyền
