extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3 
        .row 
            .col-12 
                +box-head("Chat")

        .row 
            .col-12
                .chat(my-id=user.id)
                    div(class="inner-body")
                        //- .inner-comming 
                        //-     .inner-name 
                        //-     .inner-content
                        
                        //- .inner-outgoing
                        //-     .inner-conent
                        each chat in chats
                            div(class=(chat.user_id == user.id ? "inner-outgoing" : "inner-incomming"))
                                if (chat.user_id != user.chat)
                                    .inner-name #{chat.inforUser.fullName}                       
                                .inner-content #{chat.content}
                                    
                    div(clas="inner-foot")

                        form(
                            class="inner-form"
                            action=""
                        )
                            input(
                                text="text"
                                placeholder="Nhập nội dung..."
                                name="content"
                            )

                            button 
                                i.fa-solid.fa-paper-plane