extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3 
        .row 
            .col-12 
                +box-head("Chat")


            div(class="chat")
                div(class="inner-body")
                div(clas="inner-foot")

                    form(
                        class="inner-form"
                        action=""
                    )
                        input(
                            text="text"
                            placeholder="Nhập nội dung..."
                            name="content"
                        )

                        button 
                            i.fa-solid.fa-paper-plane